
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="lead">
        <h3>@ViewBag.Message</h3>
    </p>
    <b>Adı:</b> Cafer Gökmen
    <br />
    <b>Soyadı:</b> Portakal
</div>